{% extends 'base.html' %} 
{% block title %}Mad Lib Form{% endblock %}

{% block content %}

  <div>
  <h1>Tall Questions</h1>

      <form action="/tale1" class="cent">
        {% for blank in blanks %}
          <label for="{{ blank }}">{{ blank }} (required)</label>
          <p>
            <input id="{{ blank }}" name="{{ blank }}" type="text" required minlength="3" />
<!-- A quick note about the required attribute: This wasn't working properly in the browser until I closed the input tag.  -->
          </p>
        {% endfor %} 
 
      <button>GENERATE STORY</button>
      
      </form>
    
    <form action="/choice" class="cent">
      <button>CHOOSE ANOTHER STORY</button>
    </form>

  </div>
{% endblock %}



